*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url(fondo.jpg);
    
	

}

.registro{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 1px 38px #000;
     

}

.registro h4 {
    font-size: 40px;
    margin-bottom: 20px;
}

.control{
    width: 100%;
    background:  #24303c; 
    padding: 14px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid hwb(220 93% 4%);
    font-family: 'calibri';
    font-size: 20px;
    color: white;
}
.boton {
    width :40%;
    background: hwb(223 4% 86%);
    border: none;
    padding: 12px;
    color: white;
    font-size: 20px
    
    
    
    
}

a {
    text-decoration: none;                  
    width :40%;
    background: hwb(223 4% 86%);
    padding: 12px;
    color: white;
    font-size: 21px;
    
}
ul, li { 
    display: inline-block;
}
li a {
    color : white;
    font-size: 24px;
    padding: 0 13px 0;
    text-decoration: none;
    background: #24303c;
    
}
nav{ 
    background-color: #24303c;
    padding: 1.5em;
}


